In [1]:
import numpy as np
import pandas as pd

# Function to generate the dataset
def generate_dataset(num_orders, num_products):
    # Set the random seed for reproducibility
    np.random.seed(42)

    # Generate non-sequential five-digit order IDs
    order_ids = np.random.choice(range(10000, 100000), num_orders, replace=False)

    # Generate random binary data for the orders
    order_data = np.random.randint(0, 2, size=(num_orders, num_products))

    # Create a DataFrame for the orders
    orders_df = pd.DataFrame(order_data, columns=[str(i) for i in range(1, num_products + 1)])
    orders_df.insert(0, 'order_id', order_ids)

    return orders_df

In [4]:
orders_dataset = generate_dataset(20000, 20)
orders_dataset.to_csv('sample_data/order_list_20k.csv', index=False)

In [8]:
def generate_patterned_dataset(num_orders, num_products, frequencies):
    np.random.seed(42)
    order_ids = np.random.choice(range(100000, 1000000), num_orders, replace=False)
    data = np.zeros((num_orders, num_products), dtype=int)

    for idx, freq in enumerate(frequencies):
        # Calculate the probability of purchase based on the frequency
        probability = 1 / freq
        purchases = np.random.binomial(1, p=probability, size=num_orders)
        data[:, idx] = purchases

    # Create the DataFrame
    orders_df = pd.DataFrame(data, columns=[str(i) for i in range(1, num_products + 1)])
    orders_df.insert(0, 'order_id', order_ids)
    return orders_df

In [9]:
pd.read_csv('sample_data/Daily_Items.csv')

    id             name
0    1             Rice
1    2      Wheat Flour
2    3          Spinach
3    4         Tomatoes
4    5          Bananas
5    6           Apples
6    7             Milk
7    8           Yogurt
8    9            Bread
9   10        Croissant
10  11             Meat
11  12             Fish
12  13       Mixed Nuts
13  14            Chips
14  15  Turmeric Powder
15  16             Salt
16  17    Sunflower Oil
17  18        Olive Oil
18  19            Sugar
19  20            Honey

In [10]:
num_products = 20
frequencies = [7, 5, 4, 2, 2, 5, 2, 7, 9, 10, 15,  4, 20, 3, 30, 30, 15, 30, 20, 240]
orders_dataset = generate_patterned_dataset(100000, num_products, frequencies)
# orders_dataset.to_csv('patterned_orders_dataset.csv', index=False)
print(orders_dataset.head())

   order_id  1  2  3  4  5  6  7  8  9  ...  11  12  13  14  15  16  17  18  \
0    627984  0  0  0  0  1  0  0  1  0  ...   0   0   0   0   0   0   1   0
1    718093  0  1  0  1  0  1  0  0  1  ...   0   0   0   0   0   0   0   0
2    584217  0  0  1  1  0  0  1  0  0  ...   0   0   0   1   0   0   0   0
3    261123  0  0  0  1  1  0  0  0  0  ...   0   1   0   1   0   0   0   0
4    818642  0  0  0  0  0  0  0  0  0  ...   0   1   0   1   0   0   0   0

   19  20
0   0   0
1   0   0
2   0   0
3   0   0
4   0   0

[5 rows x 21 columns]

In [11]:
orders_dataset

,order_id,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,627984,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,718093,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,584217,0,0,1,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,261123,0,0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,818642,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,755584,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
99996,529066,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
99997,832015,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
99998,292632,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
99999,173903,0,0,1,1,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0

In [12]:
orders_dataset.to_csv('sample_data/order_list_100k_pattern.csv', index=False)